body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}
h2 {
  margin-bottom: 12px;
}

.nav {
  background-color: black;
  border-bottom: 4px #FF9500 solid;
  color: #FFFFFF;
  font-weight: bold;
  width: 100%;
  padding: 1px;
}
.nav ul {
  max-width: 768px;
  margin: 16px auto
}
.nav ul li {
  display: inline-block;
  padding-right: 24px
}
.nav ul li.right {
  padding-right: 0;
  padding-left: 24px;
  float: right;
}
.nav ul li a:hover {
  color: #FF9500;
}

.container {
  margin: 16px auto;
  max-width: 768px;
}

.question-list {
  border: 1px grey solid;
  border-radius: 4px;
}
.question-list button {
  background-color: #FFFFFF;
  border: none;
  border-radius: 2px;
  width: 50%;
  padding: 8px;
  font-weight: bold;
  outline: none;
}
.question-list button.focus {
  background-color: #FF9500;
}
.question-list ul {
  margin: 16px;
}
.question-list ul li {
  display: block;
}

.question {
  color: #FFFFFF;
  margin-bottom: 16px;
}
.question h3 {
  background-color: #FF9500;
  border-radius: 4px 4px 0 0;
  color: black;
  margin: 0;
  padding: 16px 32px;
}
.question .question-wrapper {
  background-color: black;
  border-radius: 0 0 4px 4px;
  display: flex;
  align-items: stretch;
  padding: 32px;
}
.question .question-wrapper img {
  width: 25%;
  height: 25%;
  padding-right: 32px;
  margin: auto 0;
}
.question .question-wrapper .question-options, .question .question-wrapper .question-form {
  border-left: 2px #FF9500 solid;
  padding-left: 32px;
  width: 100%;
}
.question .question-wrapper .question-options span {
  margin-left: 12px;
  font-size: 20px;
}
.question .question-wrapper .question-options a {
  background-color: #FF9500;
  color: black;
  display: inline-block;
  padding: 4px 12px;
  margin: 12px 0;
}

.question .question-wrapper .question-form input[type='submit'] {
  background-color: #FF9500;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  display: block;
  font-size: 24px;
  font-weight: bold;
  padding: 12px;
  cursor: pointer;
  margin-top: 24px;
  width: 100%;
}
.question .question-wrapper .question-result {
  border: 1px #FF9500 solid;
  border-radius: 4px;
  padding: 8px;
  position: relative;
  margin-top: 32px;
}
.question .question-wrapper .question-result.true {
  background-color: rgb(100, 58, 0, .6);
}
.question .question-wrapper .question-result.true:after {
  background-color: #FF9500;
  border-radius: 50%;
  content: 'your vote';
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 14px;
  top: -20px;
  right: -20px;
  height: 40px;
  width: 40px;
}

textarea {
  display: block;
}

.login-list {

}
.login-list li {
  background-color: black;
  border-radius: 4px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 12px;
  margin-bottom: 16px;
}
.login-list li img {
  height: 40px;
  width: 40px;
  margin-right: 12px;
}
.login-list li p {
  margin-right: 12px;
  width: 120px;
}
.login-list li button {
  background-color: #FF9500;
  border: none;
  font-weight: bold;
  outline: none;
  padding: 8px 12px;
  cursor: pointer;
}
